<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <h3>Messages</h3>
    <a href="/new">New Message</a>
    <ul>
      <% messages.map((message) => { %>
      <li>
        (<%= message.timestamp %>) <%= message.user_id %> : <%= message.message
        %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
