<form method="POST" action="/new">
  <h2>New Message:</h2>
  <label for="messageUser">User Name: </label>
  <input type="text" name="messageUser" id="user" />
  <label for="messageText">Message:</label>
  <input type="textarea" name="messageText" />
  <button type="submit">Submit</button>
</form>
